.mediaViewInfo {
	--web-view-name: Home – 1;
	--web-view-id: Home__1;
	--web-scale-on-resize: true;
	--web-center-vertically: true;
	--web-refresh-for-changes: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Home__1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Home__1 {
	position: absolute;
	width: 100%;
	height: 4118px;
	background-color: rgba(139,138,145,1);
	overflow: hidden;
	--web-view-name: Home – 1;
	--web-view-id: Home__1;
	--web-scale-on-resize: true;
	--web-center-vertically: true;
	--web-refresh-for-changes: true;
	--web-enable-deep-linking: true;
}
#NASA_block {
	fill: rgba(40,82,156,1);
}
.NASA_block {
	display: none;
	position: absolute;
	overflow: visible;
	width: 100%;
	height: 1080px;
	left: 50%;
	transform: translateX(-50%);
	top: 2808px;
}
#NASA {
	position: absolute;
	width: 1680px;
	height: 1001px;
	left: 50%;
	transform: translateX(-50%);
	top: 2808px;
	display: inline-block;
	overflow: visible;
}
#Rectangle_178_k {
	fill: url(#Rectangle_178_k);
}
.Rectangle_178_k {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 1474px;
	height: 774px;
	left: 112px;
	top: 123px;
}
#Rectangle_168_m {
	fill: url(#Rectangle_168_m);
}
.Rectangle_168_m {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	display: none;
	position: absolute;
	overflow: visible;
	width: 1474px;
	height: 774px;
	left: 112px;
	top: 119px;
}
#Section_Container {
	fill: rgba(13,13,13,0);
}
.Section_Container {
	position: absolute;
	overflow: visible;
	width: 100%;
	height: 1001px;
	left: 50%;
	transform: translateX(-50%);
	top: 0px;
}
#Group_423 {
	position: absolute;
	width: 462.793px;
	height: 440.771px;
	left: 262px;
	top: 180px;
	overflow: visible;
}
#description {
	left: 49.793px;
	top: 276.771px;
	position: absolute;
	overflow: visible;
	width: 414px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: left;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#nasa-worm-logotype {
	position: absolute;
	width: 453px;
	height: 272px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Web_1920__9 {
	filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.431));
	position: absolute;
	width: 459px;
	height: 560px;
	left: 915px;
	top: 223px;
	overflow: visible;
}
#Rectangle_166_t {
	fill: url(#Rectangle_166_t);
}
.Rectangle_166_t {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	display: none;
	position: absolute;
	overflow: visible;
	width: 1474px;
	height: 774px;
	left: 112px;
	top: 1867px;
}
#Rectangle_167_v {
	fill: url(#Rectangle_167_v);
}
.Rectangle_167_v {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 1474px;
	height: 774px;
	left: 112px;
	top: 770px;
}
#Rectangle_177_x {
	fill: url(#Rectangle_177_x);
}
.Rectangle_177_x {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 1474px;
	height: 774px;
	left: 112px;
	top: 1867px;
}
#Quickfax_Block {
	fill: rgba(171,189,188,1);
}
.Quickfax_Block {
	display: none;
	position: absolute;
	overflow: visible;
	width: 100%;
	height: 1080px;
	left: 0px;
	top: 1728px;
}
#Quickfax {
	position: absolute;
	width: 1680px;
	height: 1080px;
	left: 50%;
	transform: translateX(-50%);
	top: 1728px;
	overflow: visible;
}
#Section_Container_ {
	fill: rgba(13,13,13,0);
}
.Section_Container_ {
	position: absolute;
	overflow: visible;
	width: 100%;
	height: 1080px;
	left: 50%;
	transform: translateX(-50%);
	top: 0px;
}
#your_story_hero {
	filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 731px;
	height: 406px;
	left: 761px;
	top: 308px;
	overflow: visible;
}
#description_ {
	left: 305.178px;
	top: 429.04px;
	position: absolute;
	overflow: visible;
	width: 421px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: left;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(245,245,245,1);
}
#cloud_pbx_faxing {
	left: 310px;
	top: 349px;
	position: absolute;
	overflow: visible;
	width: 263px;
	white-space: nowrap;
	text-align: left;
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: lighter;
	font-size: 37px;
	color: rgba(80,110,137,1);
}
#Title_PLATFORMMobileTAGH2 {
	left: 310px;
	top: 281px;
	position: absolute;
	overflow: visible;
	width: 261px;
	white-space: nowrap;
	line-height: 72px;
	margin-top: -3.5px;
	text-align: center;
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: bold;
	font-size: 65px;
	color: rgba(245,245,245,1);
}
#Foodbowl {
	position: absolute;
	height: 771px;
	left: 155.285px;
	right: 68.674px;
	top: 770px;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: flex-end;
	flex-wrap: nowrap;
	overflow: visible;
	padding: 24px 78px 14px 148px;
}
#Paragraph__Image_-21__22 {
	position: relative;
	width: 788px;
	height: 733px;
	overflow: visible;
}
#Group_427 {
	position: relative;
	width: 410.039px;
	height: 326.347px;
	margin-right: 32.002px;
	overflow: visible;
}
#description_ba {
	left: 2.041px;
	top: 162.347px;
	position: absolute;
	overflow: visible;
	width: 409px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: left;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(79,79,79,1);
}
#pet_food_service {
	left: 0px;
	top: 77.449px;
	position: absolute;
	overflow: visible;
	width: 386px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(255,255,255,1);
}
#Title_PLATFORMMobileTAGH2_ba {
	left: 1.715px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 389px;
	white-space: nowrap;
	line-height: 86px;
	margin-top: -4px;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 78px;
	color: rgba(76,77,78,1);
}
#Foodbowl_Background {
	position: absolute;
	height: 586px;
	left: 0px;
	right: 0px;
	top: 62px;
	background: linear-gradient(180deg, rgba(133,131,141,1) 0%, rgba(181,182,188,1) 0%, rgba(139,138,145,1) 100%);
	border: 0;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: space-between;
	flex-wrap: nowrap;
	overflow: visible;
	padding: 1px 0px 0px 0px;
}
#Rectangle_165 {
	fill: transparent;
}
.Rectangle_165 {
	position: relative;
	overflow: visible;
	width: 20px;
	height: 585px;
	margin-left: auto;
}
#title {
	filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.161));
	position: relative;
	align-self: center;
	overflow: visible;
	text-align: center;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight:  700;
	font-size: 130px;
	color: rgba(61,62,63,1);
	letter-spacing:  -5px;
	line-height:  120px;
}
#Rectangle_164 {
	fill: transparent;
}
.Rectangle_164 {
	position: relative;
	overflow: visible;
	width: 20px;
	height: 585px;
	margin-right: auto;
}
#Header {
	position: absolute;
	height: 62px;
	left: 0px;
	right: 0px;
	top: 0px;
	background-color: rgba(61,62,63,1);
	border: 0;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: flex-end;
	flex-wrap: nowrap;
	overflow: visible;
	padding: 20px 42px 18px 20px;
}
#Group_426 {
	position: relative;
	width: 416px;
	height: 16px;
	display: flex;
	flex-direction: row-reverse;
	align-items: normal;
	justify-content: space-between;
	flex-wrap: nowrap;
	overflow: visible;
}
#Contact:hover {
	color: rgba(255,255,255,1);
}
#Contact {
	position: relative;
	align-self: auto;
	overflow: visible;
	width: 48px;
	white-space: nowrap;
	text-align: left;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(92,90,101,1);
	transition: all .3s ease-out;
}
#About:hover {
	color: rgba(255,255,255,1);
}
#About {
	position: relative;
	align-self: auto;
	overflow: visible;
	width: 37px;
	white-space: nowrap;
	text-align: left;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(92,90,101,1);
	text-decoration:  none;
	transition: all .3s ease-out;
}
#Home {
	position: relative;
	align-self: auto;
	overflow: visible;
	width: 37px;
	white-space: nowrap;
	text-align: left;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
	text-decoration:  none;
}
#Ben_Hickman {
	position: relative;
	margin-right: auto;
	overflow: visible;
	width: 106px;
	white-space: nowrap;
	text-align: left;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
	letter-spacing: -0.5px;
}
#for_educators {
	left: 486px;
	top: 3170px;
	position: absolute;
	overflow: visible;
	width: 184px;
	white-space: nowrap;
	text-align: left;
	font-family: Geograph;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(255,255,255,1);
	letter-spacing: -0.14px;
}
#Designed_in_Adobe_XD_Built_wit {
	left: 751px;
	top: 4070px;
	position: absolute;
	overflow: visible;
	width: 179px;
	white-space: nowrap;
	text-align: center;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(255,255,255,1);
}