:root {
	--web-view-ids: Home__1,Home__2;
	--web-view-name: Home – 1;
	--web-view-id: Home__1;
	--web-scale-to-fit: false;
	--web-scale-to-fit-type: default;
	--web-enable-scale-up: false;
	--web-scale-on-resize: true;
	--web-show-scale-controls: false;
	--web-scale-on-double-click: false;
	--web-center-horizontally: false;
	--web-center-vertically: true;
	--web-actual-size-on-double-click: false;
	--web-navigate-on-keypress: false;
	--web-refresh-for-changes: true;
	--web-add-image-compare: false;
	--web-show-by-media-query: true;
	--web-application: false;
	--web-show-navigation-controls: false;
	--web-enable-deep-linking: true;
	--web-is-overlay: false;
}
#Home__1,
#Home__2 {
	display: none;
}
@media (min-width: 1680px) {
	.mediaViewInfo {
		--web-view-name: Home – 1;
		--web-view-id: Home__1;
		--web-scale-on-resize: true;
		--web-center-vertically: true;
		--web-refresh-for-changes: true;
		--web-show-by-media-query: true;
		--web-enable-deep-linking: true;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#Home__1 {
		position: absolute;
		display: block;
		width: 100%;
		height: 3724px;
		background-color: rgba(139,138,145,1);
		overflow: hidden;
		--web-view-name: Home – 1;
		--web-view-id: Home__1;
		--web-scale-on-resize: true;
		--web-center-vertically: true;
		--web-refresh-for-changes: true;
		--web-show-by-media-query: true;
		--web-enable-deep-linking: true;
	}
	#Designed_in_Adobe_XD_Built_wit {
		left: 50%;
		transform: translateX(-50%);
		top: 3668px;
		position: absolute;
		overflow: visible;
		width: 179px;
		white-space: nowrap;
		text-align: center;
		font-family: SF Pro Display;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		color: rgba(255,255,255,1);
	}
	#Group_435 {
		position: absolute;
		height: 750px;
		left: 0px;
		right: -0.078px;
		top: 732px;
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: flex-end;
		flex-wrap: nowrap;
		overflow: visible;
		padding: 0px;
	}
	#Rectangle_180 {
		fill: transparent;
	}
	.Rectangle_180 {
		position: relative;
		overflow: visible;
		width: 20px;
		height: 585px;
		margin-left: auto;
	}
	#Group_442 {
		position: relative;
		width: 1450px;
		height: 750px;
		align-self: center;
		overflow: visible;
	}
	#Web_1920__12 {
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
		position: absolute;
		width: 100%;
		height: auto;
		left: 50%;
		transform: translateX(-50%);
		top: 0px;
		overflow: visible;
	}
	#Group_441 {
		position: absolute;
		width: 409px;
		left: 172px;
		top: 212px;
		overflow: visible;
		padding: 0px;
	}
	#description {
		left: 0px;
		top: 163px;
		position: absolute;
		overflow: visible;
		line-height: 35px;
		margin-top: -7.5px;
		text-align: left;
		font-family: SF Pro Text;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(41,41,41,1);
	}
	#Title_PLATFORMMobileTAGH2 {
		left: 50%;
		transform: translateX(-50%);
		top: 0px;
		position: absolute;
		overflow: visible;
		white-space: nowrap;
		line-height: 86px;
		margin-top: -4px;
		text-align: left;
		font-family: Poppins;
		font-style: normal;
		font-weight: bold;
		font-size: 78px;
		color: rgba(41,41,41,1);
	}
	#pet_food_service {
		left: 50%;
		transform: translateX(-50%);
		top: 76px;
		position: absolute;
		overflow: visible;
		white-space: nowrap;
		text-align: left;
		font-family: Poppins;
		font-style: normal;
		font-weight: normal;
		font-size: 48px;
		color: rgba(255,255,255,1);
	}
	#Rectangle_179 {
		fill: transparent;
	}
	.Rectangle_179 {
		position: relative;
		overflow: visible;
		width: 20px;
		height: 585px;
		margin-right: auto;
	}
	#Foodbowl_Background {
		position: absolute;
		height: 653px;
		left: 0px;
		right: 0px;
		top: -5px;
		background: linear-gradient(180deg, rgba(114,109,132,1) 0%, rgba(181,178,192,0) 100%);
		border: 0;
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: space-between;
		flex-wrap: nowrap;
		overflow: visible;
		padding: 68px 0px 0px 0px;
	}
	#Rectangle_165 {
		fill: transparent;
	}
	.Rectangle_165 {
		position: relative;
		overflow: visible;
		width: 20px;
		height: 585px;
		margin-left: auto;
	}
	#title {
		filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.161));
		position: relative;
		align-self: center;
		overflow: visible;
		text-align: center;
		font-family: SF Pro Display;
		font-style: normal;
		font-weight:  500;
		font-size: 130px;
		color: rgba(13,60,108,1);
		letter-spacing:  -7px;
		line-height:  120px;
	}
	#Rectangle_164 {
		fill: transparent;
	}
	.Rectangle_164 {
		position: relative;
		overflow: visible;
		width: 20px;
		height: 585px;
		margin-right: auto;
	}
	#Header {
		position: absolute;
		height: 86px;
		left: 0px;
		right: 1px;
		top: -19px;
		background-color: rgba(0,0,0,0);
		border: 0;
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: flex-end;
		flex-wrap: nowrap;
		overflow: visible;
		padding: 33px 42px 29px 20px;
	}
	#Group_426 {
		position: relative;
		width: 416px;
		height: 16px;
		display: flex;
		flex-direction: row-reverse;
		align-items: normal;
		justify-content: space-between;
		flex-wrap: nowrap;
		overflow: visible;
	}
	#Contact:hover {
		color: rgba(255,255,255,1);
	}
	#Contact {
		position: relative;
		align-self: auto;
		overflow: visible;
		width: 48px;
		white-space: nowrap;
		text-align: left;
		font-family: SF Pro Display;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		color: rgba(13,60,108,1);
		transition: all .3s ease-out;
	}
	#About:hover {
		color: rgba(255,255,255,1);
	}
	#About {
		position: relative;
		align-self: auto;
		overflow: visible;
		width: 37px;
		white-space: nowrap;
		text-align: left;
		font-family: SF Pro Display;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		color: rgba(13,60,108,1);
		text-decoration:  none;
		transition: all .3s ease-out;
	}
	#Home {
		position: relative;
		align-self: auto;
		overflow: visible;
		width: 37px;
		white-space: nowrap;
		text-align: left;
		font-family: SF Pro Display;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		color: rgba(255,255,255,1);
	}
	#Ben_Hickman {
		position: relative;
		margin-right: auto;
		overflow: visible;
		width: 106px;
		white-space: nowrap;
		text-align: left;
		font-family: SF Pro Display;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(255,255,255,1);
		letter-spacing: -0.5px;
	}
	#Group_443 {
		position: absolute;
		height: 750px;
		left: 0px;
		right: -0.078px;
		top: 1682px;
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: flex-end;
		flex-wrap: nowrap;
		overflow: visible;
		padding: 0px;
	}
	#Rectangle_180_bd {
		fill: transparent;
	}
	.Rectangle_180_bd {
		position: relative;
		overflow: visible;
		width: 20px;
		height: 585px;
		margin-left: auto;
	}
	#Group_442_be {
		position: relative;
		width: 1450px;
		height: 750px;
		align-self: center;
		overflow: visible;
	}
	#Web_1920__12_bf {
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
		position: absolute;
		width: 100%;
		height: auto;
		left: 50%;
		transform: translateX(-50%);
		top: 0px;
		overflow: visible;
	}
	#Group_441_bg {
		position: absolute;
		width: 409px;
		left: 172px;
		top: 212px;
		overflow: visible;
		padding: 0px;
	}
	#description_bh {
		left: 0px;
		top: 163px;
		position: absolute;
		overflow: visible;
		line-height: 35px;
		margin-top: -7.5px;
		text-align: left;
		font-family: SF Pro Text;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(41,41,41,1);
	}
	#Title_PLATFORMMobileTAGH2_bi {
		left: 50%;
		transform: translateX(-50%);
		top: 0px;
		position: absolute;
		overflow: visible;
		white-space: nowrap;
		line-height: 86px;
		margin-top: -4px;
		text-align: left;
		font-family: Poppins;
		font-style: normal;
		font-weight: bold;
		font-size: 78px;
		color: rgba(41,41,41,1);
	}
	#pet_food_service_bj {
		left: 50%;
		transform: translateX(-50%);
		top: 76px;
		position: absolute;
		overflow: visible;
		white-space: nowrap;
		text-align: left;
		font-family: Poppins;
		font-style: normal;
		font-weight: normal;
		font-size: 48px;
		color: rgba(255,255,255,1);
	}
	#Rectangle_179_bk {
		fill: transparent;
	}
	.Rectangle_179_bk {
		position: relative;
		overflow: visible;
		width: 20px;
		height: 585px;
		margin-right: auto;
	}
	#Group_444 {
		position: absolute;
		height: 750px;
		left: 0px;
		right: -0.078px;
		top: 2632px;
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: flex-end;
		flex-wrap: nowrap;
		overflow: visible;
		padding: 0px;
	}
	#Rectangle_180_bm {
		fill: transparent;
	}
	.Rectangle_180_bm {
		position: relative;
		overflow: visible;
		width: 20px;
		height: 585px;
		margin-left: auto;
	}
	#Group_442_bn {
		position: relative;
		width: 1450px;
		height: 750px;
		align-self: center;
		overflow: visible;
	}
	#Web_1920__12_bo {
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
		position: absolute;
		width: 100%;
		height: auto;
		left: 50%;
		transform: translateX(-50%);
		top: 0px;
		overflow: visible;
	}
	#Group_441_bp {
		position: absolute;
		width: 409px;
		left: 172px;
		top: 212px;
		overflow: visible;
		padding: 0px;
	}
	#description_bq {
		left: 0px;
		top: 163px;
		position: absolute;
		overflow: visible;
		line-height: 35px;
		margin-top: -7.5px;
		text-align: left;
		font-family: SF Pro Text;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(41,41,41,1);
	}
	#Title_PLATFORMMobileTAGH2_br {
		left: 50%;
		transform: translateX(-50%);
		top: 0px;
		position: absolute;
		overflow: visible;
		white-space: nowrap;
		line-height: 86px;
		margin-top: -4px;
		text-align: left;
		font-family: Poppins;
		font-style: normal;
		font-weight: bold;
		font-size: 78px;
		color: rgba(41,41,41,1);
	}
	#pet_food_service_bs {
		left: 50%;
		transform: translateX(-50%);
		top: 76px;
		position: absolute;
		overflow: visible;
		white-space: nowrap;
		text-align: left;
		font-family: Poppins;
		font-style: normal;
		font-weight: normal;
		font-size: 48px;
		color: rgba(255,255,255,1);
	}
	#Rectangle_179_bt {
		fill: transparent;
	}
	.Rectangle_179_bt {
		position: relative;
		overflow: visible;
		width: 20px;
		height: 585px;
		margin-right: auto;
	}
	#s {
		left: 184px;
		top: 3486px;
		position: absolute;
		overflow: visible;
		width: 11px;
		white-space: nowrap;
		text-align: left;
		font-family: SF Pro Display;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(255,255,255,1);
		letter-spacing: -0.5px;
	}
}
@media (min-width: 0px) and (max-width: 1679px) {
	.mediaViewInfo {
		--web-view-name: Home – 2;
		--web-view-id: Home__2;
		--web-scale-on-resize: true;
		--web-center-vertically: true;
		--web-refresh-for-changes: true;
		--web-show-by-media-query: true;
		--web-enable-deep-linking: true;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#Home__2 {
		position: absolute;
		display: block;
		width: 100%;
		height: 3724px;
		background-color: rgba(139,138,145,1);
		overflow: hidden;
		--web-view-name: Home – 2;
		--web-view-id: Home__2;
		--web-scale-on-resize: true;
		--web-center-vertically: true;
		--web-refresh-for-changes: true;
		--web-show-by-media-query: true;
		--web-enable-deep-linking: true;
	}
	#Designed_in_Adobe_XD_Built_wit_bx {
		left: 50%;
		transform: translateX(-50%);
		top: 3668px;
		position: absolute;
		overflow: visible;
		width: 179px;
		white-space: nowrap;
		text-align: center;
		font-family: SF Pro Display;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		color: rgba(255,255,255,1);
	}
	#Group_435_by {
		position: absolute;
		height: 629.5px;
		left: 0px;
		right: -912.078px;
		top: 770px;
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: flex-end;
		flex-wrap: nowrap;
		overflow: visible;
		padding: 0px;
	}
	#Rectangle_180_bz {
		fill: transparent;
	}
	.Rectangle_180_bz {
		position: relative;
		overflow: visible;
		width: 20px;
		height: 585px;
		margin-left: auto;
	}
	#Group_442_b {
		position: relative;
		width: 712.333px;
		height: 521px;
		align-self: center;
		overflow: visible;
	}
	#b1__1_b {
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
		position: absolute;
		width: 100%;
		height: auto;
		left: 50%;
		transform: translateX(-50%);
		top: 153px;
		overflow: visible;
	}
	#Group_441_b {
		position: absolute;
		width: 388px;
		left: 153.295px;
		top: 0px;
		overflow: visible;
		padding: 0px;
	}
	#Title_PLATFORMMobileTAGH2_b {
		left: 50%;
		transform: translateX(-50%);
		top: 0px;
		position: absolute;
		overflow: visible;
		white-space: nowrap;
		line-height: 86px;
		margin-top: -4px;
		text-align: left;
		font-family: Poppins;
		font-style: normal;
		font-weight: bold;
		font-size: 78px;
		color: rgba(41,41,41,1);
	}
	#pet_food_service_b {
		left: 50%;
		transform: translateX(-50%);
		top: 76px;
		position: absolute;
		overflow: visible;
		white-space: nowrap;
		text-align: left;
		font-family: Poppins;
		font-style: normal;
		font-weight: normal;
		font-size: 48px;
		color: rgba(255,255,255,1);
	}
	#Rectangle_179_b {
		fill: transparent;
	}
	.Rectangle_179_b {
		position: relative;
		overflow: visible;
		width: 20px;
		height: 585px;
		margin-right: auto;
	}
	#Foodbowl_Background_b {
		position: absolute;
		height: 653px;
		left: 0px;
		right: 0px;
		top: -5px;
		background: linear-gradient(180deg, rgba(114,109,132,1) 0%, rgba(181,178,192,0) 100%);
		border: 0;
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: space-between;
		flex-wrap: nowrap;
		overflow: visible;
		padding: 68px 0px 0px -1px;
	}
	#Rectangle_165_ca {
		fill: transparent;
	}
	.Rectangle_165_ca {
		position: relative;
		overflow: visible;
		width: 20px;
		height: 585px;
		margin-left: auto;
	}
	#title_cb {
		filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.161));
		position: relative;
		align-self: center;
		overflow: visible;
		line-height:  120px;
		margin-top: -1px;
		text-align: center;
		font-family: SF Pro Display;
		font-style: normal;
		font-weight:  500;
		font-size: 110px;
		color: rgba(13,60,108,1);
		letter-spacing:  -7px;
	}
	#Rectangle_164_cc {
		fill: transparent;
	}
	.Rectangle_164_cc {
		position: relative;
		overflow: visible;
		width: 20px;
		height: 585px;
		margin-right: auto;
	}
	#Header_cd {
		position: absolute;
		height: 86px;
		left: 0px;
		right: -911px;
		top: -19px;
		background-color: rgba(0,0,0,0);
		border: 0;
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: flex-end;
		flex-wrap: nowrap;
		overflow: visible;
		padding: 33px 42px 29px 20px;
	}
	#Group_426_cf {
		position: relative;
		width: 416px;
		height: 16px;
		display: flex;
		flex-direction: row-reverse;
		align-items: normal;
		justify-content: space-between;
		flex-wrap: nowrap;
		overflow: visible;
	}
	#Contact_cg {
		position: relative;
		align-self: auto;
		overflow: visible;
		width: 48px;
		white-space: nowrap;
		text-align: left;
		font-family: SF Pro Display;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		color: rgba(13,60,108,1);
	}
	#About_cj {
		position: relative;
		align-self: auto;
		overflow: visible;
		width: 37px;
		white-space: nowrap;
		text-align: left;
		font-family: SF Pro Display;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		color: rgba(13,60,108,1);
		text-decoration:  none;
	}
	#Home_cm {
		position: relative;
		align-self: auto;
		overflow: visible;
		width: 37px;
		white-space: nowrap;
		text-align: left;
		font-family: SF Pro Display;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		color: rgba(255,255,255,1);
	}
	#Ben_Hickman_cn {
		position: relative;
		margin-right: auto;
		overflow: visible;
		width: 106px;
		white-space: nowrap;
		text-align: left;
		font-family: SF Pro Display;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(255,255,255,1);
		letter-spacing: -0.5px;
	}
	#s_co {
		left: 184px;
		top: 3486px;
		position: absolute;
		overflow: visible;
		width: 11px;
		white-space: nowrap;
		text-align: left;
		font-family: SF Pro Display;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(255,255,255,1);
		letter-spacing: -0.5px;
	}
}
