.mediaViewInfo {
	--web-view-name: Home;
	--web-view-id: Home;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Home;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Home {
	position: absolute;
	width: 1920px;
	height: 4156px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Home;
	--web-view-id: Home;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#shape {
	position: absolute;
	width: 510.581px;
	height: 510.931px;
	left: 880px;
	top: 215.069px;
	overflow: visible;
}
#thumbprint_circles {
	position: absolute;
	width: 510.581px;
	height: 510.931px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_913_m {
	fill: url(#Path_913_m);
}
.Path_913_m {
	overflow: visible;
	position: absolute;
	width: 68.158px;
	height: 23.162px;
	left: 241.968px;
	top: 160.768px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_914_o {
	fill: url(#Path_914_o);
}
.Path_914_o {
	overflow: visible;
	position: absolute;
	width: 58.604px;
	height: 58.282px;
	left: 167.702px;
	top: 166.737px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_915_q {
	fill: url(#Path_915_q);
}
.Path_915_q {
	overflow: visible;
	position: absolute;
	width: 149.469px;
	height: 88.02px;
	left: 160.98px;
	top: 261.911px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_916_s {
	fill: url(#Path_916_s);
}
.Path_916_s {
	overflow: visible;
	position: absolute;
	width: 31.358px;
	height: 107.115px;
	left: 318.886px;
	top: 190.816px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_917_u {
	fill: url(#Path_917_u);
}
.Path_917_u {
	overflow: visible;
	position: absolute;
	width: 57.506px;
	height: 77.049px;
	left: 216.852px;
	top: 216.882px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_918_w {
	fill: url(#Path_918_w);
}
.Path_918_w {
	overflow: visible;
	position: absolute;
	width: 17.158px;
	height: 43.198px;
	left: 276.855px;
	top: 226.786px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_919_y {
	fill: url(#Path_919_y);
}
.Path_919_y {
	overflow: visible;
	position: absolute;
	width: 115.28px;
	height: 46.354px;
	left: 241.987px;
	top: 107.577px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_920_ {
	fill: url(#Path_920_);
}
.Path_920_ {
	overflow: visible;
	position: absolute;
	width: 91.225px;
	height: 82.546px;
	left: 120.815px;
	top: 115.388px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_921_ {
	fill: url(#Path_921_);
}
.Path_921_ {
	overflow: visible;
	position: absolute;
	width: 48.263px;
	height: 119.009px;
	left: 107px;
	top: 239.921px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_922_ {
	fill: url(#Path_922_);
}
.Path_922_ {
	overflow: visible;
	position: absolute;
	width: 162.076px;
	height: 43.144px;
	left: 191.659px;
	top: 360.787px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_923_ {
	fill: url(#Path_923_);
}
.Path_923_ {
	overflow: visible;
	position: absolute;
	width: 27.637px;
	height: 152.655px;
	left: 376.345px;
	top: 179.276px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_924_ {
	fill: url(#Path_924_);
}
.Path_924_ {
	overflow: visible;
	position: absolute;
	width: 35.374px;
	height: 126.143px;
	left: 133.769px;
	top: 175.788px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_925_ba {
	fill: url(#Path_925_ba);
}
.Path_925_ba {
	overflow: visible;
	position: absolute;
	width: 102.701px;
	height: 56.701px;
	left: 156.299px;
	top: 320.23px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_926_bc {
	fill: url(#Path_926_bc);
}
.Path_926_bc {
	overflow: visible;
	position: absolute;
	width: 60.125px;
	height: 106px;
	left: 316.875px;
	top: 251.931px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_927_be {
	fill: url(#Path_927_be);
}
.Path_927_be {
	overflow: visible;
	position: absolute;
	width: 90.354px;
	height: 87.167px;
	left: 281.787px;
	top: 137.814px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_928_bg {
	fill: url(#Path_928_bg);
}
.Path_928_bg {
	overflow: visible;
	position: absolute;
	width: 57.11px;
	height: 19.116px;
	left: 199.891px;
	top: 133.93px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_929_bi {
	fill: url(#Path_929_bi);
}
.Path_929_bi {
	overflow: visible;
	position: absolute;
	width: 72.769px;
	height: 36.324px;
	left: 238.918px;
	top: 187.607px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_930_bk {
	fill: url(#Path_930_bk);
}
.Path_930_bk {
	overflow: visible;
	position: absolute;
	width: 31.739px;
	height: 104.722px;
	left: 187.984px;
	top: 202.208px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_931_bm {
	fill: url(#Path_931_bm);
}
.Path_931_bm {
	overflow: visible;
	position: absolute;
	width: 66.004px;
	height: 71.006px;
	left: 256.997px;
	top: 251.931px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_932_bo {
	fill: url(#Path_932_bo);
}
.Path_932_bo {
	overflow: visible;
	position: absolute;
	width: 185.119px;
	height: 145.007px;
	left: 61.887px;
	top: 52.924px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_933_bq {
	fill: url(#Path_933_bq);
}
.Path_933_bq {
	overflow: visible;
	position: absolute;
	width: 140.091px;
	height: 182.077px;
	left: 52.997px;
	top: 264.918px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_934_bs {
	fill: url(#Path_934_bs);
}
.Path_934_bs {
	overflow: visible;
	position: absolute;
	width: 202.106px;
	height: 160.107px;
	left: 251px;
	top: 298.825px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_935_bu {
	fill: url(#Path_935_bu);
}
.Path_935_bu {
	overflow: visible;
	position: absolute;
	width: 78.732px;
	height: 177.143px;
	left: 380.268px;
	top: 99.787px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_936_bw {
	fill: url(#Path_936_bw);
}
.Path_936_bw {
	overflow: visible;
	position: absolute;
	width: 81.147px;
	height: 34.028px;
	left: 278.972px;
	top: 53.903px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_937_by {
	fill: url(#Path_937_by);
}
.Path_937_by {
	overflow: visible;
	position: absolute;
	width: 274.634px;
	height: 61.931px;
	left: 95.727px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_938_b {
	fill: url(#Path_938_b);
}
.Path_938_b {
	overflow: visible;
	position: absolute;
	width: 45.67px;
	height: 140.428px;
	left: 0px;
	top: 118.503px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_939_b {
	fill: url(#Path_939_b);
}
.Path_939_b {
	overflow: visible;
	position: absolute;
	width: 182.176px;
	height: 176.186px;
	left: 10.855px;
	top: 325.786px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_940_b {
	fill: url(#Path_940_b);
}
.Path_940_b {
	overflow: visible;
	position: absolute;
	width: 220.673px;
	height: 124.674px;
	left: 251px;
	top: 386.257px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_941_b {
	fill: url(#Path_941_b);
}
.Path_941_b {
	overflow: visible;
	position: absolute;
	width: 94.725px;
	height: 273.195px;
	left: 415.856px;
	top: 60.786px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_942_b {
	fill: url(#Path_942_b);
}
.Path_942_b {
	overflow: visible;
	position: absolute;
	width: 130.183px;
	height: 318.378px;
	left: 25.195px;
	top: 50.553px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_943_ca {
	fill: url(#Path_943_ca);
}
.Path_943_ca {
	overflow: visible;
	position: absolute;
	width: 214.244px;
	height: 69.147px;
	left: 95.853px;
	top: 415.784px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_944_cc {
	fill: url(#Path_944_cc);
}
.Path_944_cc {
	overflow: visible;
	position: absolute;
	width: 91.134px;
	height: 222.057px;
	left: 393.867px;
	top: 212.873px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_945_ce {
	fill: url(#Path_945_ce);
}
.Path_945_ce {
	overflow: visible;
	position: absolute;
	width: 236.616px;
	height: 110px;
	left: 211.936px;
	top: 25.93px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_946_cg {
	fill: url(#Path_946_cg);
}
.Path_946_cg {
	overflow: visible;
	position: absolute;
	width: 164.362px;
	height: 54px;
	left: 133.735px;
	top: 79.93px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_947_ci {
	fill: url(#Path_947_ci);
}
.Path_947_ci {
	overflow: visible;
	position: absolute;
	width: 35.714px;
	height: 159.643px;
	left: 79.68px;
	top: 158.288px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_948_ck {
	fill: url(#Path_948_ck);
}
.Path_948_ck {
	overflow: visible;
	position: absolute;
	width: 165.255px;
	height: 75.712px;
	left: 114.289px;
	top: 355.219px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_949_cm {
	fill: url(#Path_949_cm);
}
.Path_949_cm {
	overflow: visible;
	position: absolute;
	width: 89.122px;
	height: 153.172px;
	left: 341.878px;
	top: 251.931px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_950_co {
	fill: url(#Path_950_co);
}
.Path_950_co {
	overflow: visible;
	position: absolute;
	width: 100.414px;
	height: 111.401px;
	left: 322.657px;
	top: 94.588px;
	transform: matrix(1,0,0,1,0,0);
}
#quickfax2x {
	fill: rgba(13,13,13,1);
}
.quickfax2x {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 1080px;
	left: 0px;
	top: 3076px;
}
#Repeat_Grid_1 {
	position: absolute;
	width: 476px;
	height: 37px;
	left: 1117px;
	top: 43px;
	overflow: hidden;
}
#Group {
	position: absolute;
	width: 53px;
	height: 22px;
	left: 0px;
	top: 10px;
	overflow: visible;
}
#Home_cs {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 54px;
	white-space: nowrap;
	text-align: left;
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(33,33,33,1);
}
#Group_ct {
	position: absolute;
	width: 54px;
	height: 22px;
	left: 176px;
	top: 10px;
	overflow: visible;
}
#About {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	text-align: left;
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(33,33,33,1);
}
#Group_cv {
	position: absolute;
	width: 69px;
	height: 22px;
	left: 352px;
	top: 10px;
	overflow: visible;
}
#Contact {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 70px;
	white-space: nowrap;
	text-align: left;
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(33,33,33,1);
}
#title {
	left: 200px;
	top: 315px;
	position: absolute;
	overflow: visible;
	width: 973px;
	height: 298px;
	text-align: left;
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: bold;
	font-size: 140px;
	color: rgba(28,28,28,1);
	letter-spacing: -0.1px;
}
#foodbowl12x {
	position: absolute;
	width: 1920px;
	height: 1080px;
	left: 0px;
	top: 870px;
	overflow: visible;
}
#section_number {
	opacity: 0.998;
	left: 357px;
	top: 1157px;
	position: absolute;
	overflow: visible;
	width: 103px;
	white-space: nowrap;
	line-height: 120px;
	margin-top: -10px;
	text-align: center;
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: bold;
	font-size: 100px;
	color: rgba(27,27,27,1);
	letter-spacing: -0.1px;
}
#item {
	position: absolute;
	width: 320px;
	height: 189px;
	left: 509px;
	top: 1208px;
	overflow: visible;
	padding: 0px;
}
#description {
	left: 0px;
	top: 50px;
	position: absolute;
	overflow: visible;
	width: 321px;
	height: 139px;
	line-height: 28px;
	margin-top: -2px;
	text-align: left;
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(149,149,149,1);
	letter-spacing: -0.1px;
}
#title_c {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 321px;
	height: 34px;
	line-height: 40px;
	margin-top: -5px;
	text-align: left;
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(26,26,26,1);
}
#slide_title {
	left: 101px;
	top: 970px;
	position: absolute;
	overflow: visible;
	width: 601px;
	height: 50px;
	line-height: 56px;
	margin-top: -5.5px;
	text-align: left;
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: bold;
	font-size: 45px;
	color: rgba(26,26,26,1);
	letter-spacing: -0.1px;
}
#divider {
	fill: rgba(33,33,33,1);
}
.divider {
	width: 5px;
	height: 80px;
	position: absolute;
	overflow: visible;
	transform: matrix(1,0,0,1,138.5,1012.5) rotate(90deg);
	transform-origin: center;
}
#quickfax2x_c {
	position: absolute;
	width: 1920px;
	height: 1080px;
	left: 0px;
	top: 1973px;
	overflow: visible;
}
#section_number_c {
	opacity: 0.998;
	left: 348px;
	top: 2260px;
	position: absolute;
	overflow: visible;
	width: 122px;
	white-space: nowrap;
	line-height: 120px;
	margin-top: -10px;
	text-align: center;
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: bold;
	font-size: 100px;
	color: rgba(26,26,26,1);
	letter-spacing: -0.1px;
}
#item_c {
	position: absolute;
	width: 320px;
	height: 189px;
	left: 509px;
	top: 2311px;
	overflow: visible;
	padding: 0px;
}
#description_c {
	left: 0px;
	top: 50px;
	position: absolute;
	overflow: visible;
	width: 321px;
	height: 139px;
	line-height: 28px;
	margin-top: -2px;
	text-align: left;
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(149,149,149,1);
	letter-spacing: -0.1px;
}
#title_da {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 321px;
	height: 34px;
	line-height: 40px;
	margin-top: -5px;
	text-align: left;
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(26,26,26,1);
}
#slide_title_da {
	left: 101px;
	top: 2073px;
	position: absolute;
	overflow: visible;
	width: 601px;
	height: 50px;
	line-height: 56px;
	margin-top: -5.5px;
	text-align: left;
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: bold;
	font-size: 45px;
	color: rgba(26,26,26,1);
	letter-spacing: -0.1px;
}
#divider_db {
	fill: rgba(33,33,33,1);
}
.divider_db {
	width: 5px;
	height: 80px;
	position: absolute;
	overflow: visible;
	transform: matrix(1,0,0,1,138.5,2115.5) rotate(90deg);
	transform-origin: center;
}
#section_number_dc {
	opacity: 0.998;
	left: 348px;
	top: 3363px;
	position: absolute;
	overflow: visible;
	width: 121px;
	white-space: nowrap;
	line-height: 120px;
	margin-top: -10px;
	text-align: center;
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: bold;
	font-size: 100px;
	color: rgba(255,255,255,1);
	letter-spacing: -0.1px;
}
#item_dd {
	position: absolute;
	width: 320px;
	height: 189px;
	left: 509px;
	top: 3414px;
	overflow: visible;
	padding: 0px;
}
#description_de {
	left: 0px;
	top: 50px;
	position: absolute;
	overflow: visible;
	width: 321px;
	height: 139px;
	line-height: 28px;
	margin-top: -2px;
	text-align: left;
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(255,255,255,1);
	letter-spacing: -0.1px;
}
#title_df {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 321px;
	height: 34px;
	line-height: 40px;
	margin-top: -5px;
	text-align: left;
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#slide_title_dg {
	left: 101px;
	top: 3176px;
	position: absolute;
	overflow: visible;
	width: 601px;
	height: 50px;
	line-height: 56px;
	margin-top: -5.5px;
	text-align: left;
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: bold;
	font-size: 45px;
	color: rgba(255,255,255,1);
	letter-spacing: -0.1px;
}
#divider_dh {
	fill: rgba(255,255,255,1);
}
.divider_dh {
	width: 5px;
	height: 80px;
	position: absolute;
	overflow: visible;
	transform: matrix(1,0,0,1,138.5,3218.5) rotate(90deg);
	transform-origin: center;
}
#natgeo2x {
	position: absolute;
	width: 990px;
	height: 550px;
	left: 870px;
	top: 3281px;
	overflow: visible;
}
#Group_3 {
	position: absolute;
	width: 172px;
	height: 78px;
	left: 509.5px;
	top: 3713.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Web_1920___4.html;
	cursor: pointer;
}
#slide_title_dk {
	left: 22.5px;
	top: 22.5px;
	position: absolute;
	overflow: visible;
	width: 126px;
	white-space: nowrap;
	line-height: 32px;
	margin-top: -3px;
	text-align: left;
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	color: rgba(255,255,255,1);
	letter-spacing: -0.1px;
}
#shape_dl {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.shape_dl {
	position: absolute;
	overflow: visible;
	width: 173px;
	height: 79px;
	left: 0px;
	top: 0px;
}
#Group_5 {
	position: absolute;
	width: 172px;
	height: 78px;
	left: 509.5px;
	top: 2610.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Web_1920___3.html;
	cursor: pointer;
}
#slide_title_dn {
	left: 22.5px;
	top: 22.5px;
	position: absolute;
	overflow: visible;
	width: 126px;
	white-space: nowrap;
	line-height: 32px;
	margin-top: -3px;
	text-align: left;
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	color: rgba(33,33,33,1);
	letter-spacing: -0.1px;
}
#shape_do {
	fill: rgba(0,0,0,0);
	stroke: rgba(33,33,33,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.shape_do {
	position: absolute;
	overflow: visible;
	width: 173px;
	height: 79px;
	left: 0px;
	top: 0px;
}
#Group_6 {
	position: absolute;
	width: 172px;
	height: 78px;
	left: 509.5px;
	top: 1505.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Web_1920___2.html;
	cursor: pointer;
}
#slide_title_dq {
	left: 22.5px;
	top: 22.5px;
	position: absolute;
	overflow: visible;
	width: 126px;
	white-space: nowrap;
	line-height: 32px;
	margin-top: -3px;
	text-align: left;
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	color: rgba(33,33,33,1);
	letter-spacing: -0.1px;
}
#shape_dr {
	fill: rgba(0,0,0,0);
	stroke: rgba(33,33,33,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.shape_dr {
	position: absolute;
	overflow: visible;
	width: 173px;
	height: 79px;
	left: 0px;
	top: 0px;
}
#Path_1 {
	position: absolute;
	width: 1920px;
	height: 12px;
	left: 0px;
	top: 858px;
	overflow: visible;
}